<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hexs</key>
	<array>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>1</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>2</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>3</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>4</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>5</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>6</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>7</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>8</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>9</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>11</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>12</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>13</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>14</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>15</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>16</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<true/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>17</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<true/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>18</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<true/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>19</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>21</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>22</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>23</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<true/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>24</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>25</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>26</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>27</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<true/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>28</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<true/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>29</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>31</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>32</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>33</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>34</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>35</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>36</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>37</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>38</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>39</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>41</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>42</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>43</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>block</key>
			<false/>
			<key>bomb</key>
			<integer>-1</integer>
			<key>bunny</key>
			<false/>
			<key>fire</key>
			<false/>
			<key>monster</key>
			<false/>
			<key>number</key>
			<integer>44</integer>
			<key>strong</key>
			<false/>
			<key>teleport</key>
			<false/>
			<key>visible</key>
			<true/>
		</dict>
	</array>
	<key>parametres</key>
	<dict>
		<key>horizontalNumber</key>
		<integer>9</integer>
		<key>verticalNumber</key>
		<integer>5</integer>
	</dict>
</dict>
</plist>
